html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.zindex-back {
    z-index: -1;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}

.text-big {
    font-size: 80px;
    white-space: nowrap;
}

.mt-large {
    margin-top: 14em;
}

.mt-medium {
    margin-top: 9em;
}

.cuadro-img {
    width: 500px;
    height: 800px;
    object-fit: cover;
}

.bg-black {
    background-color: black;
}

.text-contact {
    font-size: 1.3em;
}