html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.zindex-back {
    z-index: -1;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
}

.text-big {
    font-size: 100px
}

.mt-large {
    margin-top: 16em;
}

.cuadro-img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.bg-black {
    background-color: black;
}